NODE_ETHEREUM_URL="https://${network}.infura.io/v3/INFURAKEY"
PRIVATE_KEY_CLI_BIDDING=""
HERMEZ_AUCTION_ADDRESS="0x1D5c3Dd2003118743D596D7DB7EA07de6C90fB20"
HEZ_TOKEN_ADDRESS="0x55a1Db90A5753e6Ff50FD018d7E648d58A081486"
